.array-container {
  position: absolute;
  left: 100px;
  /* top: 100px; */
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.btn-newArray{
  background-color: #f44336;
  font-size: 20px;
  color: white;
}

.btn-sort{
  background-color: #4CAF50;
  font-size: 20px;
  color: white;
}
